/*!
 * Dr Pingu
 *
 * Designed and built with all the love in the world by HackWorth Solutions
 */

html{ height: 100%; }
body {
  margin: 0 auto;
  text-align: center;
  background-color: #f2f2f2;
  background-image: url(../img/background.png);
  background-repeat: repeat;
  font-family: 'Port Lligat Sans', sans-serif;
  color: #f18256;
  color: #111;
  height: 100%;
  font-size: 16px;
}
.splash-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #cacaca;
  z-index: 999;
}
.splash-screen .splash-inner {
  position: relative;
  color: #222;
  font-size: 32px;
  z-index: 1999;
}
.splash-screen .splash-inner span {
  margin: 10px 35px 20px;
}
.header{
  height: 10%;
}
.header img {
  /*max-height: 100%;*/
}
.footer{
  height: 10%;
  position: absolute;
  bottom: 0;
}
.footer.molehead{
  left: 0;
}
.footer.molehead div{
  overflow:hidden;
  height: 55px;
  position:absolute;
  bottom: 0;
  transition: height 2s;
}
.footer.molehead:hover div{
  height: 85px;
}
.footer.info{
  right: 0;
  background: #bbb;
  background: rgba(0,0,0,0.3);
  padding: 5px 15px;
  height: 8%;
  border-radius: 25px 25px 0 0;
}
@media (max-width: 768px) {
  .footer {
    position: static;
  }
  .footer.molehead {
    display:none;
  }
}

.article {
  //height: 80%;
}
a { color: #b775b3; }
a:hover, a:active { color: #00877c; }
canvas {
  background: transparent;
}
table {
  margin: 0 auto;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Rum Raisin', sans-serif;
}
h2 {
  font-size: 24px;
  font-style: italic;
  color: #888;
  margin-top: -3px;
  margin-left: 45px;
}
td{
  padding: 3px 7px;
  text-align: left;
}
.topmargin65 {
  margin-top: 65px;
}
.inliner {
  display:inline-block !important;
}
.drpingu-container {
  position: relative;
  height: 100%;
}
#patientWrap {
  position:relative;
  min-height: 145px;
}
#patientWrap img {
  position:absolute;
  bottom:0;
  left: 0;
  width: 25%;
}
#thermometer {
  background-image: url(../img/grading.png);
  position:relative;
  border-left:none;
  background-position: 25px bottom;
  background-repeat: repeat-x;
  box-shadow: 25px 0px 20px 15px rgba(0,0,255,0.2), -25px 0px 10px 3px rgba(0,0,255,0.2) inset;
}
#thermometerWrap {
  position:relative;
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.progress-bar-mercury {
  background-color: #d9534f;
  background: rgba(200, 54, 54, 0.5);
  box-shadow: none;
}
#pre-thermometer{
  position:absolute;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  box-sizing: border-box;
  top:-30px;
  left:-70px;
  background-color: #de9595;
  box-shadow: 0px 0px 10px 15px rgba(0,0,255,0.2), 0px 0px 10px 8px rgba(0,0,255,0.2) inset;
}
#pre-thermometer.empty{
  background-color: #f5f5f5;
  transition-duration: 0.5s;
  transition-delay: 0.7s;
}
#nextPillCanvasWrap {
  //margin-top: 10px;
  //margin-left: 15px;
  position: relative;
}
#nextPillCanvas {
  position:absolute;
  top: -45px;
  left: -5px;
}
#gameCanvasWrap {
  padding-top: 55px;
  padding-bottom: 25px;
  position: relative;
  overflow: visible;
}
#gameCanvas {
  background: #ededed;
  //background: rgba(0,0,0,0.2);
  background-image: url(../img/grading-vert.png);
  background-position: right center;
  background-repeat: repeat-y;
  background-size: auto 100%;
  border: solid 3px #9b9b9b;
  border-radius: 0 0 50px 50px;
  border-top: 0;
}
#bottleCap{
  position: absolute;
  z-index: 10;
  content: '';
  top: 30px;
  left: 50%;
  margin-left: -160px;
  width: 315px;
  height: 40px;
  background: #ededed;
  border: solid 3px #9b9b9b;
  border-radius: 60%;
}
.aviso {
  position: absolute;
  bottom: 45%;
  left: 50%;
  background: transparent;
  display:none;
}
.aviso-in {
  position: relative;
  left: -50%;
  bottom: -40%;
  color: #f00;
  font-size: 60px;
  transform:rotate(-60deg);
  -ms-transform:rotate(-60deg); /* IE 9 */
  -webkit-transform:rotate(-60deg); /* Safari and Chrome */
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}
#avisoGameOver {
  bottom: 40%;
}
#avisoVictoria {
  bottom: 45%;
}
.aviso-in:before { content: '['; }
.aviso-in:after { content: ']'; }
.big-font {
  font-size: 24px;
  color: #111;
}
.changing-text {
  color: #888;
}
#helpModal .modal-dialog{
  width: 75%;
}
@media (max-width: 992px) {
  #helpModal .modal-dialog{
    width: 85%;
  }
}
@media (max-width: 768px) {
  #helpModal .modal-dialog{
    width: 95%;
  }
}
.space {
  min-height: 40px;
  height: 3%;
}
@media (max-height: 610px) {
  .space {
    min-height: 25px;
    height: 2%;
  }
  .footer.molehead {
    display:none;
  }
}
@media (max-height: 490px) {
  .space {
    min-height: 10px;
    height: 1%;
  }
}
.modal-sidebar {
  position: relative;
  padding-bottom: 80px;
}
.modal-sidebar .modal-navigation {
  position: absolute;
  font-size: 24px;
  bottom: 5px;
  left: 50%;
  margin-left: -25%;
}
.modal-sidebar .help-text {
  height: 100px;
}
.explicacion-lateral {
  display:none;
}
.carousel-inner {
  overflow: hidden;
}
.carousel-caption {
  background: #222;
  background: rgba(0,0,0,0.8);
  border-radius: 30px;
}
.carousel-indicators {
  position: absolute;
  top: 0px;
  left: -22%;
  z-index: 15;
  width: 20%;
  bottom: auto;
  padding: 10px 0 10px 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
  background: #222;
  background: rgba(0,0,0,0.2);
  border: solid 1px #666;
  border-radius: 50px;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #ffffff;
}

@media (max-width: 992px) {
  #helpModal .modal-dialog{
    width: 85%;
  }
  .carousel-indicators {
    left: -37%;
  }
}
@media (max-width: 768px) {
  #helpModal .modal-dialog{
    width: 95%;
  }
  .carousel-indicators {
    left: -62%;
  }
}


/* BOTONES */

.btn-orange {
  color: #ffffff;
  background-color: #F1A656;
  border-color: #F18256;
  /*border-color: #A25E3D;*/
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  color: #ffffff;
  background-color: #E19646;
  /*border-color: #ac2925;*/
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: #E19646;
  /* border-color: #d43f3a; */
}

.btn-purple {
  color: #ffffff;
  background-color: #b675b3;
  border-color: #B26FAB;
  /* border-color: #9C6997; */
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  color: #ffffff;
  background-color: #A25F9B;
  /* border-color: #398439; */
}

.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  background-image: none;
}

.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #A25F9B;
  /* border-color: #B26FAB; */
}
