#pre-thermometer {
  background-color: #d9534f;
}
#bottleCap {
  /* hi */
}
.carousel-indicators {
  height: 45px;
  background: #eee;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);

}
.carousel-caption {
  color: #000;
  background: #eee;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
}
